body {
margin: 0;
font-family: Arial, sans-serif;
text-align: center;
background-color: #f8f9fa;
}

h1 {
background-color: #007bff;
color: white;
padding: 10px;
margin: 0;
}

#map {
height: 90vh;
width: 100%;
}

/* Widget flotante */
#widget {
position: fixed;
top: 20px;
right: 20px;
background: rgba(0, 123, 255, 0.9);
color: white;
padding: 10px;
border-radius: 8px;
cursor: move;
z-index: 9999;
}
